/*____|Allgemeines|______________________________*/

  html,body {margin: 0; padding: 0;}

  a {text-decoration: none;}

  li {list-style-type: none;}

  h1,h2,h3,h4,h5 {
      font-family: 'Sriracha', cursive;
  }

  h1{
      font-size: 50px
  }

  h2 {
     font-size: 40px;
  }

  h3 {
     font-size: 30px;
  }

  p {
      font-size: 20px;
      font-family: 'Varela Round', sans-serif;
  }

  hr {
      width: 5%;
      height: 4px;
      color: #ffdc80;
      background-color: #ffdc80;
      border: 1px solid;
      border-radius: 5px;
  }

/*____|Header|______________________________*/

  #header{
      background: white;
      text-align: center;
      padding-top: 100px;
      padding-bottom: 100px;
      background-image: url(Wabenmuster.svg);
      background-repeat: no-repeat, repeat;
      background-position: center;
      background-size: cover;
      background-blend-mode: multiply;
      z-index: -1;
     
      
  }

  #header img{
      width: 25%;
          
  }

/*____|Navigation|______________________________*/

  #navigation {
    width: 100%;
    height: 80px;
    position: sticky;  
    top: 0;
    left: 0;
    background: grey;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    z-index: 3;
  }

  #logo {
    width: 180px;
    float: left;
    margin: 10px 0 0 50px;
  }

  #logo:hover {
    opacity: 0,5;
  }

  #logo img {
      width: 100%;
      height: 60px;
  }

  #main-nav {
    float: right;
    margin: 0px 50px 0 0;
  }



  #navigation nav ul li {
    float: left;
    margin-right: 25px;
  }

  #navigation nav ul li a {
    font-size: 25px;
    font-family: 'Sriracha', cursive;
    font-weight: 400;
    color: whitesmoke;
    text-transform: uppercase;
  }

  #main-nav a:hover { 
      
      transition: 0,5s;
      text-decoration: underline;
      text-decoration-color: #ffdc80;
      
  }


/*____|Neues|______________________________*/

  #neuesbox {
      
      margin-top: 100px;
      margin-bottom: 100px;
      
  }

  #neues{
      
      height: auto;
      width: 1200px;
      margin: 0 auto;
      text-align: center;
      padding-bottom: 30px;
      padding-top: 30px;
      border: 5px solid #ffdc80;
      border-radius: 15px;
      
  }

  #neues p{
      
      font-size: 20px;
      
  }

  #neuertext{
      
      width: 65%;
      margin: 0 auto;
      
  }

  #neuertext a {
    font-weight: 400;
    color: black;
  }

  #neuertext a:hover{
      text-decoration: underline;
      text-decoration-color: #ffdc80;
  }

/*____|Wir|______________________________*/

  #wirbox{
      
      width: 60%;
      margin: 0 auto;
      
  }


  #wir {
      height: auto;
      text-align: center;
      padding-top: 100px;
      padding-bottom: 100px;
      
      
  }

/*____|Karte|______________________________*/

  #karte {
     justify-content: center; 
      align-items: center;
      text-align: center;
      padding-bottom: 50px;
      padding-top: 50px;
  }



/*____|Produkte|______________________________*/



  #produktebox {
      min-height: 500px;
      padding-top: 80px;
      padding-bottom: 100px;
      text-align: center;
  }


  #produkte li {
      
      height: auto;
      width: 500px;
      margin: 10px auto;
      text-align: left;
      font-size: 20px;
      font-family: 'Varela Round', sans-serif;
      padding-left: 100px;
  }


/*____|Kontakt|______________________________*/

  #kontaktbox{

      height: auto;
      text-align: center;
      margin: 0 auto;
      padding-bottom: 100px;
      padding-top: 100px;
     /*_ background-image: url(Wabenmusterlight.svg);
      background-repeat: no-repeat, repeat;
      background-position: center;
      background-size: cover;
      background-blend-mode:lighten;
      border-bottom: 5px solid grey;
      border-top: 5px solid grey; __*/
  }


  #kontaktinfos {
      height: auto;
      text-align:left;
      width: 350px;
      margin: 0 auto;
      color: smok
  }

  #kontaktinfos a {
    font-weight: 400;
    color: black;
  }

  #kontaktinfos a:hover{
      text-decoration: underline;
      text-decoration-color: #ffdc80;
  }


/*____|Fußzeile|______________________________*/

  #fußzeile {
      background-color: grey;
      color: whitesmoke;
      padding-top: 30px;
      padding-bottom: 13px;
      text-align: center;
      bottom: 0;
      left: 10%;
      right: 0;
      width: auto;
  }

  #fußzeile a {
    font-family: 'Sriracha', cursive;
    font-weight: 500;
    font-size: 20px;
    color: whitesmoke;
    text-transform: uppercase;    
  }

  #fußzeile a:hover {
      text-decoration: underline;
      text-decoration-color: #ffdc80;
  }

  #fußzeile p {
      font-size: 15px;
  }

/*____|Impressum|______________________________*/


  #impressum {
      padding-top: 100px;
      padding-left: 200px;
      padding-bottom: 100px;
      min-height: 77.5%;
      width: 400px;
  }

  #impressum a {
    font-weight: 400;
    color: black;
  }

  #impressum a:hover{
      text-decoration: underline;
      text-decoration-color: #ffdc80;
  }

  #impressum h1 {
      text-transform: uppercase;
      font-size: 40px;
        color: #494949;
  }

  #impressum h3{
      
      margin-bottom: 5px;
        color: #494949;
      
  }

  #impressum p{
      margin-top: 5px;
  }




